@import './_variables.scss';

@mixin gradient {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979);
  background: linear-gradient(to bottom, #ff6a00, #ee0979);
}