//Colors

$white: #d8dbe2;
$beige: #f2e8d3;
$gray: #576066;
$smoke: #6a7b76;
$purple: #3e1929;
$black: #040303;
$dusty: #96858f;
$lavendar: #6d7993;
$overcast: #9099a2;
$paper: #d5d5d5;
$orange: #ee7500;
$brown: #d69764;
$pink: #ddbdd5;

//Fonts

$Pacifico: "Pacifico", cursive;
