@import '../partials/_mixins.scss';

#cookbook, #search {

  .savedRecipes .recipe-list__item {
    margin: 20px 0;
  }

  .recipe-list__header {
    border-radius: 4px 4px 0 0;
    background: $primary;
    padding: 20px;
    position: relative;

    h3 {
      margin: 0;
    }
  }

  .recipe-list__container {
    border-radius: 0 0 4px 4px;
    background: $white;
    padding: 20px 20px;
    
    p {
      margin: 40px 0;
    }
  }

  .recipe-list__image {
    position: relative;
    bottom: -50px;
    text-align: center;

    img {
      border-radius: 50%;
      border: 2px solid $white;
      height: 150px;
      width: 150px;
      @include shadow;
    }
  }

  .recipe-list__footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;

    a {
      padding: 10px 20px;
      background: $primary;
      border-radius: 4px;
      color: $white;
      cursor: pointer;
      @include shadow;
    }

    .my_cookbook_container button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: baseline;
      cursor: pointer;
  
      p {
        margin: 0 10px;
      }
    }
  }
}