@import "../partials/_variables.scss";
@import "../partials/_mixins.scss";

#home {
  height: 100vh;
  background-image: url("/assets/homeView-compressor.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .app-header {
    justify-content: center;
  }

  .app-header h1 {
    color: $white;
  }

  .page-content {
    margin: 0;
  }

  .form_Container > form {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px;
    display: flex;
    flex-direction: column;

    input {
      outline: none;
      display: flex;
      width: 100%;
      padding: 10px 10px;
      border: none;
      margin: 10px 0;
      @include shadow;
    }

    .buttons_login {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      
      button {
        font-weight: 600;
        text-align: center;
        font-size: 18px;
        color: #000;
        background-color: $primary;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden;
        padding: 10px 30px;
        margin: 10px 0;
        @include shadow;
      }

      a {
        text-align: center;
        color: #000;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}