

#search {

  .recipes {
    margin-bottom: 115px;

    .list_of_selected {
      color: $white;
    }

    .userRecipes .recipe-list__item {
      margin: 20px 0;
    }
  }
  .recipes > p {
    color: $white;
  }

  .grilled-cheese__header {
    
  }

  .fav_recipe_container button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
    cursor: pointer;

    p {
      margin: 0 10px;
    }
  }
}