@import "../partials/_variables.scss";

#register {
  height: 100vh;
  background-image: url("/assets/registerView.jpg");
  background-size: cover;
  background-position: 50% 30%;
}
.register_Container {
  display: flex;
  flex-direction: row;

  justify-content: center;
  // align-content: center;
  padding: 6%;
  margin: 0;
}

.form_Register {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  background-color: transparent;
  padding: 1em;
  border-radius: 8px;
  min-height: 75vh;

  // -moz-box-shadow: 3px 3px 5px 6px $pink;
  // -webkit-box-shadow: 3px 3px 5px 6px $pink;
  // box-shadow: 3px 3px 5px 6px $pink;
  div.input_register {
    display: flex;
    flex-direction: row;
  }
  .register_button {
    display: flex;
    justify-content: center;
    button {
      font-weight: 600;
      text-align: center;
      font-size: 19px;
      color: $white;
      background-color: $purple;
      border: none;
      border-radius: 4px;
      padding: 0.8em;
      margin-top: 1em;
      margin-bottom: 1em;
      cursor: pointer;
      overflow: hidden;
    }
  }
}
