@import "../partials/_variables.scss";

#scan {
  @include gradient;
  
  .bc-scanner {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
    h2 {
      color: $white;
    }

    .image-capture__desc {
      background-color: $white;
      border-radius: 4px;
      padding: 20px;
      margin: 40px 0;
      
      .desc-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
      }
    }
  }
}
